*{
    box-sizing: border-box;
}
body{
    font-family: poppins;
    font-size: 20px;
    font-weight: 600;
}
.container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}
ul li{
    display: inline;
    text-align: center;
}
a{
    display: inline;
    width: 25%;
    margin: 32px;
    text-decoration: none;
    color: #333;
}
hr{
    height: 80px;
    width: 23%;
    margin: -80px 0;
    background: linear-gradient(to right, #ffff00 0%, #ff3399 100%);
    border: none;
    border-radius: 50px;
    transition: .5s ease-in-out;
}
.two:hover ~ hr{
    margin-left: 15%;

}
.three:hover ~ hr{
    margin-left: 30%;

}
.four:hover ~ hr{
    margin-left: 52%;

}
a{
    font-family: "times new roman";
}
h1{
    text-align: center;
}
